/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Neue", cursive;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: hsl(196.67deg 77.42% 63.53%);
  text-decoration: underline;
}

/* UTILS */
.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after,
.cards-box::after {
  content: "";
  display: block;
  clear: both;
}

/* DEBUG */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  height: 140px;
}

header h1 {
  color: hsl(339deg 77.59% 54.51%);
  font-size: 2.5rem;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 900;
}
header p {
  text-align: center;
  font-size: 1.2rem;
}

.cards-box .card {
  float: left;
  width: calc(100% / 3 - 40px);
  margin: 20px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 15px 2px #888888;
}

.card .img-card img {
  height: 100px;
  display: block;
  float: left;
  margin-right: 10px;
}

.card .card-text h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.card .card-text p {
  margin: 5px;
}
